@use '../abstracts/font' as *;
@use '../abstracts/mixin' as *;
@use '../abstracts/variable' as *;

.InputTextBoxWithArrow {

  position: relative;
  margin-bottom: 7vw;

  .front-btn {
    @include arrowBtn(24px);
    position: absolute;
    top: 55%;
    right: 3%;
  }

}