@use '../abstracts/mixin' as *;
@use '../abstracts/variable' as *;

// 페이지 상단 타이틀
.title-wrap{
  @include center;
  justify-content: flex-start;
  &.modal{
    justify-content: space-between;
  }
  .back-btn{
    width: 24px;
    display: block;
  }
  .title{
    font-size: 5.5vw;
    margin-left: 6px;
  }

  .relation{
    color: rgba(175, 175, 175, 1);
    margin-left: 6px;
  }
}

// modal save btn
.save-button-wrap{
  position: fixed;
  bottom: 0; left: 0;
  padding: 32px 20px;
  width: 100%;
  .save-button {
    border : none;
    width: 100%;
    display: inline-block;
    font-weight: 500;
    font-size: 3.7vw;
    color: #fff;
    border-radius: 12px;
    padding: 4.7vw 0;
    background-color: #FA7F64;
    transition: .3s;
    &:disabled{
      color: #818181;
      background-color: #AFAFAF;
    }
  }
}

// input text box
.InputTextBox{
  .input-title{
    font-weight: 500;
    font-size: 4vw;
    display: block;
  }
  .input-text-box{
    background: $back-ground-color2;
    border-radius: 8px;
    border: none;
    margin-top: 3vw;
    display: block;
    width: 100%;
    font-size: 4.5vw;
    padding: 15px;
    outline: none;
    &.memo{
      height: 110px;
      overflow-y: scroll;
      white-space: pre;
      resize: none;
      text-wrap: inherit;
      line-height: 1.3;
    }
    &::placeholder{
      color: #818181;
    }
    &.birth::placeholder{
      color: #fff;
    }
    &.birth.on::placeholder{
      color: #818181;
    }
  }
}

.react-modal-sheet-content {
  padding : 20px;

  .modal-InputTextBox {
    margin: 24px 0;
    border-radius: 8px;
    background-color: #383838;
    position: relative;
    .search-icon{
      width: 7vw;
      display: block;
      position: absolute;
      left: 12px; top: 50%;
      transform: translateY(-50%);
    }
    .input-text-box{
      display: block;
      width: 100%;
      border: none;
      background: transparent;
      padding: 16px;
      padding-left: 45px;
      font-size: 3.7vw;
      color: #fff;
    }
  }
}

.calendar {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  .slider-container {
      width: 32%;
      text-align: center;
      touch-action: pan-y;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      display: flex;
      flex-direction: column;
      float: left;
      p {
          margin-top: 1vw;
          margin-bottom: 1vw;
          font-size: 4.5vw;
          font-weight: 400;
          color: #818181;
          padding-top: 15px;
          padding-bottom: 15px;
          width: 100%;

          &:nth-child(2) {
            border-radius: 8px;
            background-color: #383838;
          }
      }

      .selected {
          font-weight: 500;
          color: #fff;
      }

      .none {
          color: white;
      }
  }
}

.common-btn-og{
  display: block;
  width: 100%;
  color: #ffffff;
  background-color: #FA7F64;
  padding: 17px 0;
  border-radius: 12px;
}

.error-message {
  margin-bottom: 5vw;
  margin-top: -3vw;

  p {
    font-size: 3.5vw;
    color : $btn-active-color;
  }
}

.ModalConfirm{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0; top: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,.6);
  .modal-wrap{
    border-radius: 12px;
    background: #242424;
    padding: 6vw 5vw;
    width: 90%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    .modal-text{
      font-size: 3.7vw;
      font-weight: 500;
      color: #fff;
      line-height: 20px;
      text-align: left;
      margin-bottom: 1vw;
    }
    .modal-sub-text{
      font-size: 3.7vw;
      color: #C0C0C0;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
    }
    .modal-btn-wrap{
      margin-top: 4.5vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button{
        width: 100%;
        display: block;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.6px;
        border-radius: 12px;
        padding: 12px 0;
        margin: 0 4px;
        &.mrg-0{
          margin: 0;
        }
      }
      .confirm-btn{
        background: #FA7F64;
      }
      .cancel-btn{
        background-color: #383838;
      }
    }
  }
}

@keyframes slideAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.DatePicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  .swiper-container {
    width: 32%;
    height: 150px;
    overflow: hidden;
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      font-size: 4.5vw;
      color: #818181;
      border-radius: 8px;
    }
    .swiper-slide-active {
      background-color: #383838;
      color: #fff;
    }
  }
}

.spinner-wrap{
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  .spinner-bg{
    width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
  .spinner-opacity{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);

    position: absolute;
    left: 0; top: 0;
    .spinner{
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}





