@use '../abstracts/mixin' as *;
@use '../abstracts/variable' as *;

// 페이지 상단 타이틀
.title-wrap{
  @include center;
  justify-content: flex-start;
  .back-btn{
    width: 24px;
    display: block;
  }
  .title{
    font-size: 6vw;
    margin-left: 6px;
  }

  .relation{
    color: rgba(175, 175, 175, 1);
    margin-left: 6px;
  }

  .save-button {
    margin-left: auto;
    border : none;
    background-color: white;
    font-size: 4vw;
    font-weight: 500;
  }
}

// input text box
.InputTextBox{
  .input-title{
    font-weight: 500;
    font-size: 4.5vw;
    display: block;
  }
  .input-text-box{
    background: $back-ground-color2;
    border-radius: 8px;
    border: none;
    margin-top: 3vw;
    display: block;
    width: 100%;
    font-size: 4.5vw;
    padding: 15px;
    &::placeholder{
      color: #818181;
    }
  }
}

.react-modal-sheet-content {
  padding : 5vw;
  * {
    color : black;
  }

  .modal-InputTextBox {
    .input-text-box{
        background: $modal-inputbox-background-color;
        border-radius: 8px;
        border: none;
        margin-top: 3vw;
        display: block;
        width: 100%;
        font-size: 4.5vw;
        padding: 15px;
        &::placeholder{
          color: #C0C0C0;
        }
    }
  }
}

@keyframes slideAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.calendar {
  .slider-container {
      width: 30vw;
      text-align: center;
      touch-action: pan-y;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      display: flex;
      flex-direction: column;
      float: left;

      p {
          margin-top: 2vw;
          margin-bottom: 2vw;
          font-size: 5vw;
          font-weight: 400;
          color: $inactive-gray-color-font;
          padding-top: 5vw;
          padding-bottom: 5vw;
          width: 100%;

          &:first-child {
              margin: 4vw;
          }

          &:nth-child(2) {
              border-top: 1px solid #F8F8F8;
              border-bottom: 1px solid #F8F8F8;
          }
      }

      .selected {
          font-weight: 500;
          color: black;
      }

      .none {
          color: white;
      }
  }
}
