@charset "utf-8";

@font-face {
    font-family: "Inter-Black";
    src: url("../../assets/fonts/Inter/Inter-Black.ttf");
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 100;
    src: url("../../assets/fonts/spoqa/SpoqaHanSansNeo-Light.ttf");
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/spoqa/SpoqaHanSansNeo-Regular.ttf");
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 500;
    src: url("../../assets/fonts/spoqa/SpoqaHanSansNeo-Medium.ttf");
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: bold;
    src: url("../../assets/fonts/spoqa/SpoqaHanSansNeo-Bold.ttf");
}
