$blue-btn-color : rgb(39,90,236);
$alarm-font-color : #E4684D;
$inactive-gray-color : #818181;
$inactive-gray-color-font : #CACACA;
$inactive-block-color : #383838;
$split-line-color : rgba(129,129,129,0.2);
$back-ground-color : #232323;
$back-ground-color2 : var(--grayscale-gray-06, #242424);
$back-ground-color3 : #1E1E1E;
$btn-active-color : var(--primary-primary, #FA7F64);
$modal-inputbox-background-color : rgb(236,236,236);

$place-holder-color : var(--Grayscale-Gray-03, #AFAFAF);