@use '../abstracts/font' as *;
@use '../abstracts/mixin' as *;
@use '../abstracts/variable' as *;

@mixin popup{
    height: 40vh;
    margin-top: 15vh;
    width: 100%;
}

.agreement-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color : black;

    .agreement {
        height: 40vh;
        margin-top: 30vh;
        width: 100%;
        background-color: white;
        border-radius: 10px;

        p {
            font-family: 'SpoqaHanSansNeo-Bold';
            font-size: 5.0vw;
            margin-top: 3.0vh;
            margin-left: 5.0vw;
            color : black;
        }

        .row {
            margin-bottom: 5vw;

            &:first-child {
                margin-top: 5vw;
            }

            div {
                color : black;
            }
        }

        label {
            font-family: 'SpoqaHanSansNeo-Medium';
            font-size: 4.0vw;
            position: relative;
            padding-left : 5.0vw;
        }

        input[type="checkbox"] {
            display : none;
        }

        #agreement-submit {
            display: block;
            margin: 0 auto; 
            margin-top: 3vh;
            padding: 10px 20px; 
            background-color: $blue-btn-color;
            color: white; 
            border: none;
            font-size: 16px;
            cursor: pointer;

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    .popup {
        @include popup;
        background-color: white;
        .term * {
            background-color: white;
            color : black;
            font-size: 4vw;
        }
    }

    .close-button {
        display: block;
        margin: 0 auto; 
        margin-top: 3vh;
        padding: 10px 20px; 
        background-color: $blue-btn-color;
        color: white; 
        border: none;
        font-size: 16px;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
        }
    }
}