@use '../abstracts/mixin' as *;
@use '../abstracts/font' as *;
@use '../abstracts/variable' as *;

.Detail{
  position: relative;
  .modify-icon{
    display: block;
    width: 7vw;
    position: absolute;
    right: 20px; top: 20px;
  }

  // level card
  .LevelCard{
    &.l1{background: #383838 url("../../assets/images/level/bg_level_1.svg") no-repeat top; background-size: 100%;}
    &.l2{background: #383838 url("../../assets/images/level/bg_level_2.svg") no-repeat top; background-size: 100%;}
    &.l3{background: #383838 url("../../assets/images/level/bg_level_3.svg") no-repeat top; background-size: 100%;}
    &.l4{background: #383838 url("../../assets/images/level/bg_level_4.svg") no-repeat top; background-size: 100%;}
    &.l5{background: #383838 url("../../assets/images/level/bg_level_5.svg") no-repeat top; background-size: 100%;}
    background: #383838;
    background-size: 100%;
    border-radius: 12px;
    padding: 16px;
    margin-top: 31px;
    .level-text{
      width: 24vw; height: 24vw;
      text-align: center;
      position: relative;
      margin: 0 auto;
      > div{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      > div span{display: block;}
      .level-text-top{
        font-size: 3vw;
      }
      .level-count{
        font-size: 6.7vw;
        font-weight: bold;
        margin-top: 5px;
      }
    }

    .level-description{
      margin-top: 25px;
      text-align: center;
      font-size: 4.5vw;
      font-weight: bold;
    }
    .sub-description{
      font-size: 3.7vw;
      text-align: center;
      margin-top: 6px;
      line-height: 1.5;
      white-space: pre;
      i{
        line-height: 1.5;
        display: inline-block;
        width: 5vw;
      }
    }

    .progress-bar-wrap{
      width: 100%; height: 1vw;
      position: relative;
      background: rgba(255, 255, 255, 0.10);
      border-radius: 100px;
      margin: 4.5vw 0 2vw;
      .progress{
        height: 1vw;
        border-radius: 100px;
        background-color: #fff;
        &.l1{width: 5%;}
        &.l2{width: 20%;}
        &.l3{width: 40%;}
        &.l4{width: 60%;}
        &.l5{width: 80%;}
        &.l6{width: 100%;}
      }
    }

    .level-bottom{
      display: flex;
      justify-content: space-between;
      align-content: center;
      .planet{
        font-size: 3vw;
      }
      .bottom-text{
        color: #AFAFAF;
        font-size: 3vw;
      }
    }
  }

  // other info
  .other-info-wrap{
    margin: 9px 0;
    .other-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      &:first-child{
        border-bottom: 1px solid rgba(255,255,255,.1);
        align-items: center;
      }
      .other-info-tit{
        font-size: 3vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img{width: 4.5vw;}
      }
      .other-info-cont{
        width: 80%;
        color: #C0C0C0;
        font-size: 3vw;
      }
    }
  }



}

.sheet-header{
  padding: 10px 0;
}
.gDWucW::before{
  top: 15px !important;
}
// exchange wrap
.ExchangeWrap{
  width: 100%;
  padding: 10px 20px 0 ;
  font-size: 14px;
  margin-top: 20px;
  .exchange-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
      color: #232323;
      font-size: inherit;
    }
    .filter-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      img{width: 4.5vw;}
      span{
        color: #818181;
        font-size: 3vw;
      }
    }
  }
}

.exchange-wrap{
  margin-top: 20px;
  border-left: 1px solid rgba(192, 192, 192, 1);
  .exchange-cont{
    position: relative;
    padding: 5px 0 24px 15px;
    h4{
      color: #232323;
      font-size: 3.7vw;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 5px;
      &.taken{
        font-weight: 700;
      }
    }
    .exchanged-item{
      color: #818181;
      font-size: 3.7vw;
      font-weight: 400;
      display: block;
      margin-bottom: 5px;
    }
    .exchanged-date{
      color: #C0C0C0;
      font-size: 14px;
      font-weight: 400;
      display: block;
    }
    .exchanged-givtak{
      position: absolute;
      right: 0; top: 0;
      font-size: 3vw;
      padding: 1vw;
      font-weight: 500;
      border-radius: 8px;
      &.giv{
        background-color: #ECECEC;
        color: #818181;
      }
      &.tak{
        background-color: #818181;
        color: #fff;
      }
    }
  }
}
