@use '../abstracts/mixin' as *;
@use '../abstracts/font' as *;
@use '../abstracts/variable' as *;

.Friend{
  .friend-register-wrap{
    margin-top: 30px;
    .InputTextBox{
      margin-bottom: 7vw;
      position: relative;
      &:last-child{margin: 0;}
    }
    .RelationWrap{
      margin-bottom: 7vw;
      .input-title{
        font-weight: 500;
        font-size: 4.5vw;
        display: block;
      }
      .relation-wrap{
        margin-top: 3vw;
        input[type="radio"]{display: none;}
        label{
          font-weight: 500;
          font-size: 3.7vw;
          color: #C0C0C0;
          padding: 3.5vw;
          border: 1px solid #C0C0C0;
          border-radius: 8px;
          margin-right: 2vw;
          display: inline-block;
          transition: .3s;
          &:last-child{margin: 0;}
        }
        input[type="radio"]:checked + label{
          border: 1px solid #FA7F64;
          color: #FA7F64;
        }
      }
    }
    .register-btn-wrap{
      @include center;
      justify-content: space-between;
      margin-top: 20vw;
      &.edit{
        .register-btn.remove{
          width: 20%;
          padding: 3.7vw 0;
          background-color: transparent;
          border: 1px solid #818181;
          img{width: 24px;}
        }
        .register-btn.edit{
          width: 76%;
        }
      }
      .register-btn{
        display: block;
        width: 48%;
        font-weight: 500;
        font-size: 3.7vw;
        color: #fff;
        background: $btn-active-color;
        border-radius: 8px;
        padding: 5.3vw 0;
      }
    }
  }
}
.input-text-box-wrap{
  position: relative;
  .input-text-box.many{
    padding: 15px 45px 15px 15px;
  }
  .text-box-del-btn{
    width: 6vw;
    position: absolute;
    right: 15px; top: 50%;
    transform: translateY(-50%);
  }
}

// datepicker
.datepicker.default{
  background-color: #242424;
  border-radius: 24px 24px 0 0;
  padding: 24px 0;
  width: 100%;
  .datepicker-header{
    display: none;
  }
  .datepicker-content{
    padding: 0;
    width: 100%;
    justify-content: space-between;
  }
  .datepicker-navbar{
    margin-top: 20px;
    padding: 0 20px 20px;
    .datepicker-navbar-btn:first-child{
      width: 100%;
      display: block;
      background-color: #FA7F64;
      border-radius: 8px;
      float: none;
      color: #fff;
      font-size: 3.7vw;
      padding: 8px 0;
      height: auto;
    }
    .datepicker-navbar-btn:last-child{
      display: none;
    }
  }
}
.datepicker.default .datepicker-scroll li{
  color: #818181;
  font-size: 4.5vw;
}
.friend-name-add{
  cursor: pointer;
  @include center;
  justify-content: flex-start;
  position: absolute;
  right: 0; top: 0;
  z-index: 999;
  &.isLunar{
    position: static;
  }
  label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  img{width: 5vw;}
  span{
    font-weight: 500;
    font-size: 3.5vw;
    margin-left: 1vw;
  }
  input[type="checkbox"]{display: none}
}
