@use '../abstracts/mixin' as *;
@use '../abstracts/variable' as *;

.Mind {

    .mind-register-wrap {
        margin-top : 30px;

        .EventTypeWrap {
            margin-bottom: 7vw;
            align-items: center;
            background-color: $back-ground-color;
            width: 70%;
            margin-left: 15%;
            border-radius: 8px;
            padding: 8px;

            input[type="radio"] {
                display: none;
            }

            label {
                padding: 10px 0;
                display: inline-block;
                width: 50%;
                border-radius: 8px;
                text-align: center;
                font-size: 3.7vw;
                color: #818181;
                transition: .3s;
                &:last-child {
                    margin: 0;
                }
            }

            input[type="radio"]:checked+label {
                background: #383838;
                color: #fff;
            }

        }

        .MindWrap {

            margin-bottom: 7vw;

            .input-title {
                font-weight: 500;
                font-size: 4.5vw;
                display: block;
                margin-bottom: 7vw;
            }

            .mind-wrap {
                margin-top: 3vw;
                display: flex;
                justify-content: space-between;

                input[type="radio"] {
                    display: none;
                }

                label {
                    font-weight: 500;
                    font-size: 3.7vw;
                    color: #C0C0C0;
                    padding: 3.5vw;
                    border: 1px solid #C0C0C0;
                    border-radius: 12px;
                    width: 48%;
                    text-align: center;
                    transition: .3s;
                }

                input[type="radio"]:checked+label {
                    border: 1px solid #FA7F64;
                    color: #FA7F64;
                }
            }
        }

        .upload-image {
            height : 70vw;
            width: 80vw;
            margin-left: 5vw;
        }

        .register-btn-wrap {
            @include center;
            justify-content: space-between;
            margin-top: 35vw;

            .register-btn {
                display: block;
                width: 48%;
                font-weight: 500;
                font-size: 3.7vw;
                color: #fff;
                background: $btn-active-color;
                border-radius: 8px;
                padding: 4.3vw 0;
            }
        }

        .gift-InputTextBox {
            margin-bottom: 7vw;

            .input-text-box {
                background: $back-ground-color2;
                border-radius: 8px;
                border: none;
                margin-top: 3vw;
                display: block;
                width: 100%;
                font-size: 4.5vw;
                padding: 15px;

                &::placeholder {
                    color: #818181;
                }
            }
        }

        .MoneyOptionWrap {
            margin-bottom: 7vw;
            .money-option-wrap {
                margin-top: 3vw;
                input[type="radio"]{display: none;}
                label{
                  font-weight: 500;
                  font-size: 3.7vw;
                  color: #C0C0C0;
                  padding: 3.5vw;
                  border: 1px solid #C0C0C0;
                  border-radius: 8px;
                  margin-right: 2vw;
                  display: inline-block;
                    transition: .3s;
                  &:last-child{margin: 0;}
                }
                input[type="radio"]:checked + label{
                    border: 1px solid $btn-active-color;
                    color: $btn-active-color;
                }
            }
        }

        .register-btn-wrap{
            @include center;
            justify-content: space-between;
            margin-top: 35vw;
            .register-btn{
              display: block;
              width: 100%;
              font-weight: 500;
              font-size: 3.7vw;
              color: #fff;
              background: $btn-active-color;
              border-radius: 8px;
              padding: 4.3vw 0;
            }
        }

        #save-photo-button {
            border : none;
            background-color: $back-ground-color;
            margin-bottom: 5vw;
        }
    }
}

.FriendList {

    .friend-list-content {

        .count-div {
            margin: 5vw 0;

            #friend-count {
                text-align: right;
                font-weight: 500;
                font-size: 4vw;
                color: $inactive-gray-color;
            }
        }

        .select-friend {

            margin-bottom: 4vw;
            padding-bottom: 4vw;
            border-bottom: 1px solid rgba(129, 129, 129, 0.2);

            .friend-info {
                margin-left: 5vw;
                p {
                    padding-left: 5vw;
                    font-weight: 400;
                    font-size: 4vw;
                    color: $inactive-gray-color;
                    margin-bottom: 2vw;

                    &:first-child {
                        font-size: 5vw;
                        font-weight: 500;
                        color: #fff;
                    }
                }

            }
        }

        .close-button {
            @include arrowBtn(5vw);
            position: absolute;
            top: 50%;
            right: 8%;
            transform: translateY(-50%);
        }
    }
}

.event-sheet {
    .event-option-list {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        margin-top: 5vw;

        .event-option {
            width: 89vw;
            display: flex;
            padding-bottom: 5vw;
            padding-top: 5vw;
            border-bottom: 1px solid $split-line-color;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
            }

            span {
                font-size: 5vw;
                font-weight: 500;
                margin-left: 2.5vw;
            }
        }
    }

    textarea {
        resize: none;
        margin-left: 8vw;
        padding-top: 5vw;
        padding-left: 5vw;
        border-radius: 8px;
        background: #F7F7F7;
        border: none;
        height: 30vw;
        width: 80vw;

        &:focus {
            outline: none;
        }
    }

    .save {
        width: 100%;
        background-color: white;
        margin-top: 26.875vw;
    }
}
