@use '../abstracts/mixin' as *;
@use '../abstracts/variable' as *;

//.Setting{
  .setting-cont{
    border-radius: 12px;
    background: #242424;
    margin-top: 16px;
    &:nth-of-type(2){
      margin-top: 30px;
    }
    .user-name{
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      padding: 16px 0;
      margin: 0 16px;
    }
    .setting-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #FFF;
      font-size: 3.7vw;
      font-weight: 500;
      line-height: 20px;
      padding: 16px 0;
      margin: 0 16px;
      border-top: 1px solid rgba(255, 255, 255, 0.10);
      &:first-child{border: 0;}
      i{
        display: block;
        width: 7vw;
      }
      em{
        color: #818181;
        font-size: 3vw;
      }
    }
  }
  .withdrawal{
    display: block;
    width: 100%;
    color: #818181;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
    text-align: center;
    margin-top: 24px;
  }
//}
.SettingNickname{
  .InputTextBox{
    margin: 8vw 0 7vw;
  }
  .save-button-wrap{
    background-color: transparent;
    padding: 32px 20px;
    left: 0;
    .save-button{
      width: 100%;
      padding: 4.3vw 0;
    }
  }
}
.SettingOptIn{
  label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  [type="checkbox"] {
    appearance: none;
    position: relative;
    border-radius: 1.25em;
    background-color: rgba(129, 129, 129, 1);
    width: 40px;
    height: 15px;
  }

  [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: left 250ms linear;
  }

  [type="checkbox"]:checked {
    background-color: tomato;
    border-color: tomato;
  }

  [type="checkbox"]:checked::before {
    background-color: white;
    left: 20px;
  }
}

.SettingWithdrawal{
  .setting-list{
    justify-content: flex-start;
    flex-wrap: wrap;
    input[type="radio"]{display: none;}
    input[type="radio"] + label{
      display: block;
      width: 7vw; height: 7vw;
      background-image: url("../../assets/images/icon/ic_check_off2.svg");
      margin-right: 2vw;
    }
    input[type="radio"]:checked + label{
      width: 7vw;
      background-image: url("../../assets/images/icon/ic_check_on2.svg");
    }
  }
  .etc-input {
    background: #383838;
    border-radius: 8px;
    border: none;
    margin-top: 3vw;
    display: block;
    width: 100%;
    font-size: 4.5vw;
    padding: 15px;
    outline: none;
    height: 110px;
    overflow-y: scroll;
    white-space: pre;
    resize: none;
  }
  .save-button-wrap{
    background-color: transparent;
    padding: 32px 20px;
    left: 0;
    .save-button{
      width: 100%;
      padding: 4.3vw 0;
    }
  }
}

